.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  //background: red;
}

.container {
  width: 250px;
  height: 200px;

  border-radius: 7px;
  padding: 10px 10px;

  position: relative;
  overflow: hidden;
}

.card {
  display: flex;
  justify-content: space-between;

  width: 90%;
  height: 90%;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
  background-color: #353a49;
  border: 1px solid #51a888;
  box-shadow: 0px 0px 5px 0px #2ecc71;

  h1 {
    display: flex;
    font-size: 75px;
    align-items: center;
    justify-content: center;
    color: #51a888;
  }

  small {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
  }

  P {
    display: flex;
    justify-content: space-evenly;
    color: #51a888;
  }
}

.cardnegativo {
  width: 90%;
  height: 90%;
  padding: 10px;

  border-radius: 7px;

  position: relative;
  overflow: hidden;

  background-color: #353a49;
  border: 1px solid #f23947;
  box-shadow: 0px 0px 5px 0px #f23947;

  h1 {
    display: flex;
    font-size: 75px;
    align-items: center;
    justify-content: center;
    color: #f23947;
  }

  small {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
  }

  P {
    display: flex;
    justify-content: space-evenly;
    color: #f23947;
  }
}

.carterizadas {
  width: 90%;
  height: 90%;
  padding: 10px;

  border-radius: 7px;

  position: relative;
  overflow: hidden;

  background-color: #353a49;
  border: 1px solid #7584a6;
  box-shadow: 0px 0px 5px 0px #7584a6;

  h1 {
    display: flex;
    font-size: 75px;
    align-items: center;
    justify-content: center;
    color: #7584a6;
  }

  small {
    display: flex;
    justify-content: space-evenly;
  }

  P {
    display: flex;
    justify-content: space-evenly;
    color: #7584a6;
  }
}
